body {
    margin: 0;
    padding: 0;
    background-color: rgb(195, 195, 195);
    display: flex;
    min-height: 100vh;
    font-family: consolas, menlo, helvetica, verdana;
    overflow-x: hidden;
    padding-top: env(safe-area-inset-top);
}

nav {
    background-color: rgb(32, 255, 188);
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: env(safe-area-inset-top, 0);
    padding-bottom: env(safe-area-inset-bottom, 0);

    /*mobile*/
    width: 30%;
}

.name_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rd;
    width: fit-content;
    margin: 0 auto;
}

.name {
    margin-top: 30%;
    text-align: center;
    font-weight: normal;
    margin-bottom:20px;

    /* mobile */
    font-size: 16px;
}

.description {
    margin-top: 0;
    text-align: left;
    align-self: center;

    /* mobile */
    width: 100px;
    font-size: 12px;
}

.links {
    margin-top: 35%;
}

.links a {
    display: block;
    color: black;
    background-color: transparent;
    border-radius: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    
    /* mobile */
    width: 95px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    border: 2px, solid, black;
    margin-bottom: 30px;
}

.links a::before {
    content: ">";
    position: relative;
    visibility: hidden;

    /* mobile */
    right: 4px;
}

.links a.active::before {
    visibility: visible;
}

.social_links {
    display: block;
    margin-top: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    /* mobile */
    margin-top: 40%;
}

.social_links a {
    text-decoration: none;
}

img {
    width: 28px;
    margin-left: 5px;
    margin-right: 5px;
}

h1 {
    font-size: 32px;
}

h2 {
    padding-left: 20%;
    padding-top: 10px;
    
    /* mobile */
    font-size: 20px;
}

.grayspace {
    flex: 1;
    
}

.maintext {
    
    /* mobile */
    font-size: 15px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;

}

.jobTitle {
    font-weight: bold;
    margin-bottom: 0;

    /* mobile */
    font-size: 15px;
}

.companyDetails {
    display: flex;
    justify-content: space-between;
    color: #555555;
}

.company {
    margin-top: 10px;

    /* mobile */
    font-size: 15px;
}

.date {
    margin: 0;
    margin-top: 10px;

    /* mobile */
    font-size: 15px;

}

.jobDescription {
    font-size: 15px;
    margin-top: 8px;

    /* mobile */
    font-size: 13px;
}

.projectTitle {
    font-weight: bold;
    color: black;

    /* mobile */
    font-size: 15px;
}

.projectDescription {
    color: #555555;
    margin-bottom: 50px;

    /* mobile */
    font-size: 13px;
}


/* media query for desktop */
@media (min-width: 480px){
    
    nav {
    width: 30%;
    min-width: 300px;
    max-width: 50%;
    }

    .name {
        font-size: 42px;
    }

    .description {
    width: 297px;
    font-size: 18px;
    }

    .links a {
        width: 200px;
        height: 38px;
        font-size: 18px;
        line-height: 38px;
        border: 2px, solid, black;
        margin-bottom: 25px;
    }

    .links a::before {
        right: 8px;
    }

    .maintext {
        font-size: 17px;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 25px;
    }

    h2 {
        font-size: 24px;
    }

    .jobTitle {
        font-size: 18px;
    }

    .company {
        font-size: 17px;
    }

    .date {
        font-size: 17px;
    }

    .jobDescription{
        font-size: 15px;
    }

    .projectTitle{
    font-size: 17px;
    }

    .projectDescription{
        font-size: 15px;
    }

    .social_links{
        margin-top: 10%;
    }

    
    .social_links img {
        /* original image height: 28x28 px */
        height: 34px;
        width: 34px;
    }

    .date {
        font-size: 17px;
    }
}
